# ===================================== #
# Custom Ignores                        #
# ===================================== #


# =============== #
# Unity generated #
# =============== #
Temp
Library
Build
obj

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.svd
*.csproj
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.sln
